[user]
	name = Vedant Patil
	email = vedant.waman.patil@gmail.com
[init]
	defaultBranch = master
[core]
  editor = nvim -u ~/.config/nvim/init-git.lua
	autocrlf = input
	excludesfile = /Users/vedantpatil/.gitignore_global
	pager = delta
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[branch]
	autoSetupMerge = simple
[push]
	default = upstream
[pull]
	rebase = false
[interactive]
	diffFilter = delta --color-only
[delta]
	navigate = true
	side-by-side = false
[merge]
	conflictstyle = zdiff3
